.header {
  display: flex;
  justify-content: space-between; /* Distribute space between elements */
  align-items: center; /* Center items vertically */
  padding: 10px 20px;
  background-color: black;
  border-bottom: 1px solid #ddd;
}
.nav-links ul {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 20 px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
}

.nav-links .active {
  font-weight: bold;

  color: #5cb85c;
  border-bottom: 2px solid #5cb85c;
}
/* Header.css */

.auth-buttons {
  display: flex;
  gap: 10px;
}

.login-btn, .signup-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-btn {
  background-color: #007bff;
}

.signup-btn {
  background-color: #28a745;
}

.login-btn:hover {
  background-color: #0056b3;
}

.signup-btn:hover {
  background-color: #218838;
}
.logo 
{
  font-size: 10px;
}
.profile-dropdown {
  position: relative;
}

.profile-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid white;
}

/* Dropdown Menu Styles */
.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 10px 0;
}

.dropdown-menu a {
  padding: 10px;
  color: #333;
  text-decoration: none;
  text-align: center;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links ul {
    flex-direction: column;
  }

  .profile-dropdown {
    margin-left: auto;
  }
}